.table thead tr th {
    font-size: 14px !important;
    padding: 5px 12px 5px !important;
}

.table tbody tr td {
    font-size: 13px !important;
    padding: 5px 12px 5px !important;
}

.form-control::placeholder {
    font-size: 13px !important;
    opacity: 0.7 !important;
}

.form-control::-webkit-input-placeholder {
    font-size: 13px !important;
    opacity: 0.7 !important;
}

.form-control::-moz-placeholder {
    font-size: 13px !important;
    opacity: 0.7 !important;
}

.image-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    transition:.2s;
    border-radius:.5rem;
}

.position-relative:hover .image-overlay{
    opacity:1;
}